* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 100vw;
  background-color: rgba(26, 11, 46, 1);
}

/* Shared style */
.temporary-hide {
  display: none !important;
}


/* HEader er nav style */
nav {
  background-color: rgba(26, 11, 46, 1);
  border: 1px solid transparent;
  max-width: 75%;
  /* max-width: 1200px; */
  /* width: 1200px; */
  /* height: 44px; */
  margin: 24px auto;
  padding: 1rem;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 16px;
}

nav ul li a {
  color: #FFFFFF;
  /* font-size: 19px; */
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #b832f5;
}

.btn {
  border: 1px solid transparent;
}

/* header er button gulo er style */
.btn button {
  background-image: linear-gradient(to bottom left, rgba(145, 0, 248, 1),
      rgba(251, 9, 180, 1),
      rgba(247, 233, 63, 1));
  padding: 12.5px 16px;
  border: 1px solid transparent;
  border-radius: 1.5625rem;
  color: #FFFFFF;
  font-size: 16px;
}

.btn button:hover {
  background-image: linear-gradient(to bottom left,
      #2b1055,
      #b832f5,
      #ff4ecd);
  transform: scale(1.025) translateY(-5px);
  cursor: pointer;
}


/* Header er hero section style */
.hero_section {
  /* border: 1px solid red; */
  background-image: url('hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: center; */
  width: 100%;
  max-width: 1600px;
  padding: 101px 525px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_container {
  /* border: 1px solid red; */
  max-width: 548px;
  text-align: center;
}

.top_img {
  /* border: 1px solid red; */
  background-image: url('hero-circle.png');
  max-width: 348px;
  height: 350px;
  /* max-height: auto; */
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top_img img {
  max-width: 116px;
  max-height: 175px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%); */
}

.top_img_new_item {
  position: absolute;
  top: 5%;
  right: 5%;
  /* width: 90px; */
  background-color: #00FF88;
  padding: 8px 16px;
  border-radius: 1.5625rem;
  transition: all 0.5s ease;
}

.top_img_new_item:hover {
  transform: scaleX(1.25) translate(-10px, -10px);
  width: 100px;
  background-image: linear-gradient(to bottom left,
      rgba(145, 0, 248, 1),
      rgba(251, 9, 180, 1),
      rgba(247, 233, 63, 1));
  color: #FFFFFF;
  cursor: pointer;
}

/* Logo TechWave style */
.tech_style {
  color: #FFFFFF;
}

.wave_style {
  background: linear-gradient(to bottom left, rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_text {
  /* max-width: 40%; */
  max-width: 100%;
  width: 550px;
  margin-bottom: 0 auto;
  text-align: center;
}

.hero_text_btn .one img {
  position: relative;
  right: 5px;
  top: 3px;
}

.hero_text_btn .two img {
  position: relative;
  right: 5px;
  top: 2px;
}

.hero_text h1 {
  font-size: 3.75rem;
  font-weight: 900;
  color: #FFFFFF;
  /* margin: 2.5rem auto 0.625rem; */
  margin: 2.5rem 0 0.5rem;
}

.hero_text p {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
  color: #ffffffb7;
}

.hero_text_btn {
  display: flex;
  gap: 0.625rem;
  text-align: center;
  justify-content: center;
}

.hero_text_btn .two {
  background-image: none;
  border: 1px solid #00FF88 !important;
  background-color: transparent !important;
}



/* About the podcast design */

.about_the_podcast {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1600px;
  height: auto;
  padding: 50px 200px 120px;
  border-color: #1A0B2E;
}

.about_the_podcast_container {
  /* border: 1px solid red; */
  max-width: 1200px;
  height: auto;
}

.paragraph_option {
  color: #ffffffca;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.paragraph_option .text h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 15px;
}

.paragraph_option .text p {
  margin-top: 20px !important;
  line-height: 20px;
}

.review_option {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.horizontal_line {
  /* color: #ffffffb3; */
  border: 1px solid #dddddd98;
  margin: 80px 0;
  width: 100%;
  max-width: 1200px;
}

.reviews {
  text-align: center;
}

.reviews h1 {
  color: #00FF88;
  margin-bottom: 1rem;
}

.reviews p {
  color: #ffffffce;
  font-size: 1rem;
}

/* Why Choose TechWave style */

.why_choose_techwave {
  width: 100%;
  max-width: 1600px;
  background-color: #230E3D;
  padding: 120px 200px;
}

.choose_techwave_container {
  /* border: 1px solid red; */
  max-width: 1200px;
  width: 100%;
  /* margin: 0 auto; */
}

.header_choose_techwave {
  /* border: 1px solid red; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.header_choose_techwave h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

.choose_cards {
  display: grid;
  gap: 30px;
  grid-template-areas: "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
}

.choose_cards .card:nth-child(1) {
  grid-area: card1;
  padding: 107px 40px;
}

.choose_cards .card:nth-child(2) {
  grid-area: card2;
}

.choose_cards .card:nth-child(3) {
  grid-area: card3;
}

.choose_cards .card:nth-child(4) {
  grid-area: card4;
}

.choose_cards .card:nth-child(5) {
  grid-area: card5;
}

.choose_cards .card {
  /* border: 1px solid red; */
  padding: 40px;
  background-color: #351165;
  border-radius: 15px;
}

.choose_cards .card img {
  width: 50px;
  height: 50px;
}

.choose_cards .card h2 {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 1rem 0;
}

.choose_cards .card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffffb2;
}

/* Media query */
@media screen and (max-width: 576px) {

  /* body{
    margin: 20px;
    padding: 20px;
  } */

  /* Navbar responsive for mobile device */
  nav {
    /* background-color: rgba(26, 11, 46, 1); */
    border: 1px solid transparent;
    /* max-width: 75%; */
    /* max-width: 1200px; */
    /* width: 1200px; */
    /* height: 44px; */
    width: 100% !important;
    max-width: 100%;
    /* min-width: 100%; */
    margin: 0;
    padding: 0 20px;
    /* gap: 239px; */
    /* padding: 1rem; */
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between; */
  }

  nav ul {
    display: none;
  }

  .btn {
    display: none;
  }

  .menu {
    display: inline-block !important;
  }

  .menu img {
    width: 30px;
  }


  /* hero section responsive for mobile device */

  .hero_section {
    /* border: 1px solid red; */
    background-image: url('hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
    width: 100%;
    max-width: 100%;
    padding: 0 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero_container {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 30px 0;
    position: relative;
    top: 65px;
  }

  .top_img {
    /* border: 1px solid red; */
    background-image: url('hero-circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 200px;
    height: 200px;
    /* max-height: auto; */
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .top_img img {
    max-width: 25%;
    max-height: 70px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%); */
  }

  .hero_text {
    /* max-width: 40%; */
    max-width: 100%;
    width: 400px;
    margin-bottom: 0 auto;
    text-align: center;
  }

  .hero_text h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    /* margin: 2.5rem auto 0.625rem; */
    margin: 24px 0 8px;
  }

  .hero_text p {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    color: #ffffffb7;
  }

  .hero_text_btn {
    display: flex;
    gap: 0.625rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero_text_btn .two {
    background-image: none;
    border: 1px solid #00FF88 !important;
    background-color: transparent !important;
  }


  /* About the podcast responsive for mobile device */

  .about_the_podcast {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 100%;
    /* height: auto; */
    padding: 20px 20px;
    /* margin: 40px 20px; */
    /* display: flex;
    flex-direction: column; */
  }

  /* hide the br tag */
  .four {
    display: none;
  }

  .about_the_podcast_container {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
  }

  .paragraph_option {
    color: #ffffffca;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .paragraph_option .text h1 {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 15px;
  }

  .paragraph_option .text p {
    margin-top: 20px !important;
    line-height: 20px;
  }

  .review_option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .horizontal_line {
    border: 1px solid #dddddd98;
    margin: 40px 0;
    width: 100%;
    max-width: 100%;
  }

  .reviews {
    text-align: center;
  }

  .reviews h1 {
    color: #00FF88;
    margin-bottom: 1rem;
  }

  .reviews p {
    color: #ffffffce;
    font-size: 1rem;
  }

  /* Why Choose TechWave style */

  .why_choose_techwave {
    width: 100%;
    max-width: 100%;
    background-color: #230E3D;
    padding: 40px 20px;
  }

  .choose_techwave_container {
    /* border: 1px solid red; */
    max-width: 100%;
    width: 100%;
    /* margin: 0 auto; */
  }

  .header_choose_techwave {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
  }

  .header_choose_techwave h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }

  .choose_cards {
    display: grid;
    gap: 30px;
    grid-template-areas: "card1"
      "card2 "
      "card3"
      "card4"
      "card5";
  }

  .choose_cards .card:nth-child(1) {
    /* grid-area: card1; */
    padding: 29px 24px 24px;
  }

  .choose_cards .card:nth-child(2),
  .choose_cards .card:nth-child(3),
  .choose_cards .card:nth-child(4),
  .choose_cards .card:nth-child(5) {
    padding: 26px 24px 24px;
  }

  .choose_cards .card {
    /* border: 1px solid red; */
    /* padding: 40px; */
    background-color: #351165;
    border-radius: 10px;
  }

  .choose_cards .card img {
    width: 50px;
    height: 50px;
  }

  .choose_cards .card h2 {
    font-size: 22px;
  }
}