* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 100vw;
  background-color: rgba(26, 11, 46, 1);
}

nav {
  background-color: rgba(26, 11, 46, 1);
  border: 1px solid transparent;
  max-width: 75%;
  /* max-width: 1200px; */
  /* width: 1200px; */
  /* height: 44px; */
  margin: 24px auto;
  padding: 1rem;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 16px;
}

nav ul li a {
  color: #FFFFFF;
  /* font-size: 19px; */
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #b832f5;
}

.btn {
  border: 1px solid transparent;
}

.btn button {
  background-image: linear-gradient(to bottom left, rgba(145, 0, 248, 1),
      rgba(251, 9, 180, 1),
      rgba(247, 233, 63, 1));
  padding: 12.5px 16px;
  border: 1px solid transparent;
  border-radius: 1.5625rem;
  color: #FFFFFF;
  font-size: 16px;
}

.btn button:hover {
  background-image: linear-gradient(to bottom left,
      #2b1055,
      #b832f5,
      #ff4ecd);
  transform: scale(1.025) translateY(-5px);
  cursor: pointer;
}

.hero_section{
  /* border: 1px solid red; */
  background-image: url('hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: center; */
  width: 100%;
  max-width: 1600px;
  padding: 101px 525px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_container{
  /* border: 1px solid red; */
  max-width: 548px;
  text-align: center;
}

.top_img{
  /* border: 1px solid red; */
  background-image: url('hero-circle.png');
  max-width: 348px;
  height: 350px;
  /* max-height: auto; */
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top_img img{
  max-width: 116px;
  max-height: 175px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%); */
}

.top_img_new_item {
  position: absolute;
  top: 5%;
  right: 5%;
  /* width: 90px; */
  background-color: #00FF88;
  padding: 8px 16px;
  border-radius: 1.5625rem;
}



/* Logo TechWave style */
.tech_style {
  color: #FFFFFF;
}

.wave_style {
  background: linear-gradient(to bottom left, rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_text {
  /* max-width: 40%; */
  max-width: 100%;
  width: 550px;
  margin-bottom: 0 auto;
  text-align: center;
}

.hero_text h1 {
  font-size: 3.75rem;
  font-weight: 900;
  color: #FFFFFF;
  /* margin: 2.5rem auto 0.625rem; */
  margin: 2.5rem 0 0.5rem;
}

.hero_text p {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
  color: #ffffffb7;
}

.hero_text_btn {
  display: flex;
  gap: 0.625rem;
  text-align: center;
  justify-content: center;
}

.hero_text_btn .two {
  background-image: none;
  border: 1px solid #00FF88 !important;
  background-color: transparent !important;
}


