* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 100vw;
  background-color: rgba(26, 11, 46, 1);
}

nav {
  background-color: rgba(26, 11, 46, 1);
  border: 1px solid red;
  width: 1440px;
  /* height: 52px; */
  margin: 36px auto;
  padding: 20px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 38px;
  font-size: 19px;
}

nav ul li a {
  color: #FFFFFF;
  /* font-size: 19px; */
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #b832f5;
}

.btn {
  border: 1px solid transparent;
}

.btn button {
  background-image: linear-gradient(to bottom left, rgba(145, 0, 248, 1),
      rgba(251, 9, 180, 1),
      rgba(247, 233, 63, 1));
  padding: 15px 24px;
  border: 1px solid transparent;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 19px;
}

.btn button:hover {
  background-image: linear-gradient(to bottom left,
      #2b1055,
      #b832f5,
      #ff4ecd);
  transform: scale(1.025) translateY(-5px);
  cursor: pointer;
}

.hero_section {
  border: 1px solid red;
  max-width: 100vw;
  background-image: url('hero-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 912px;
  /* padding: 117px auto; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.hero_container {
  border: 1px solid red;
  width: 660px;
  height: 672px;
  margin: 117px auto;
  color: #FFFFFF;
  /* text-align: center; */
  /* padding: 117px auto; */
}

.top_img {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 390px;
  height: 390px;
  background-image: url('hero-circle.png');
  /* background-position: middle; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.top_img_new_item {
  position: absolute;
  top: 5%;
  right: 5%;
  /* width: 90px; */
  background-color: #00FF88;
  padding: 10px 22px;
  border-radius: 25px;
}

.top_img img {
  width: 139px;
  height: 210px;
}

/* Logo TechWave style */
.tech_style {
  color: #FFFFFF;
}

.wave_style {
  background: linear-gradient(to bottom left, rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_text {
  width: 100%;
  margin-bottom: 0;
  text-align: center;
}

.hero_text h1 {
  font-size: 72px;
  font-weight: 900;
  color: #FFFFFF;
  margin: 40px auto 10px;
}

.hero_text p {
  font-size: 19px;
  margin-bottom: 28px;
  font-weight: normal;
  color: #ffffffb7;
}

.hero_text_btn {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.hero_text_btn .two{
  background-image: none;
  border: 1px solid #00FF88 !important;
  background-color: transparent !important;
}